
<div class="container mt-5 mb-5">
    <h1 class="text-center p-4">My lists</h1>

  <div class="cards">
    <% @lists.each do |l| %>
      <%= link_to list_path(l.id) do %>
        <div class="card-category" col-sm-6 style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <h2><%= l.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <%# <%= link_to "Create new list", new_list_path %>
